@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

/* Color : #536dfe */
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Segoe UI',sans-serif;
}
*::selection {
  background-color: #536dfe;
  color: #c9cff6;
}
body {
  background-color: #e6e6e6;
}

/* CSS for the Navigation section */

nav {
  height: 14vh;
  padding: 0px 8vw 0px 4vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ffffff4a;
  box-shadow: 0px -2px 6px #0b144b;
}
nav #name a {
  font-size: 54px;
  text-decoration: none;
  color: #0b144b;
  font-family: "Italianno", cursive;
}
nav #name {
  display: flex;
  align-items: center;
}
nav ul {
  width: 400px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
li.menu {
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
  width: 100px;
  height: 39px;
  transition: transform 0.3s ease-out;
}
nav ul a {
  text-decoration: none;
  color: #232d66;
}
li.menu:hover {
  transform: translateY(-7px);
  color: #021cad;
  font-weight: 500;
  border-bottom: 2px solid #021cad;
}

/* CSS for the Introduction section */

#Introduction {
	height: calc(100vh - 14vh);
  padding: 10px;
  display: flex;
}
.introMessage {
     padding: 12vh 3vw 0vw 6vw;
     font-size: 2.25vw;
}

#bio {
  font-size: 1.4vw;
  color: #4959a7;
  font-weight: 600;
  line-height: 36px;
}
.introMessage a {
  font-size: 0px;
}
.introMessage a img {
  width: 11vw;
  height: 7vh;
	transition: all .05s ease-out;
}
.introMessage a img:hover {
  width: 155px;
  height: 44px;
	transform: scale(1.05);
}
.introImage {
	display: flex;
}
.introImage img {
  width: 50vw;
}

/* CSS for Skills section */
#Skills {
	height: 100vh;
  margin-top: 5vh;
  background-color: #0b144b;
}
.TechStack {
  padding: 1.55vh 0px;
  display: flex;
  flex-direction: column;
}
.TechStackContent {
  margin: 4.35vh 4vw;
  display: flex;
  justify-content: space-evenly;
}
.TechStack h1 {
  font-size: 4vw;
  text-align: center;
  color: #e6e6e6;
  animation: anime 1.5s infinite;
}
@keyframes anime {
  0% {
    text-shadow: 0px 0px 5px #e6e6e6;
  }
  50% {
    text-shadow: 0px 0px 10px #e6e6e6;
  }
  100% {
    text-shadow: 0px 0px 5px #e6e6e6;
  }
}
.TechStackContent .image img {
  width: calc(100vh - 9vw);
}
.stack .fa-brands {
  font-size: 50px;
}
.stack .description ul li {
  list-style: none;
  line-height: 6vh;
  color: #b9beff;
  font-size: 1.4vw;
}
.languages {
  padding: 5vh 0px 5vh 8vw;
}
.languages svg {
  padding: 0px 5px;
}
.description {
  padding: 0px 6vw;
}

/* CSS for Blog section */

#Blog {
  background-color: #e6e6e6;
  padding: 5vh 0px;
}
#Blog .container .heading {
  text-align: center;
  font-size: 4vw;
  color: #232d66;
}
.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5vh 2vw;
}
.box a img {
  width: 30vw;
  border-radius: 10px;
  box-shadow: -2px 2px 10px #0b144b;
  transition: all 0.25s;
}
.box a img:hover {
  transform: scale(1.1);
}
.box a {
  font-size: 0px;
  text-decoration: none;
}
/*CSS for Contact section */

#Contact {
  display: flex;
  justify-content: space-evenly;
 margin: 2vh 1vw;
}
.contactContent {
  padding: 0px 7vw;
}
.contactContent .heading {
  margin: 32px;
  font-size: 2.5vw;
}
.icons {
  margin: 0px 32px;
}
.icons a {
  color: black;
  text-decoration: none;
  padding: 0px 5px;
}
.contactContent .icons .fa-brands {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
  font-size: 18px;
  border-radius: 48px;
  padding: 1vw;
  transition: all 0.25s;
}
.fa-twitter {
  color: white;
  background-color: #5da9dd;
  border: 2px solid #5da9dd;
}
.fa-linkedin-in {
  background-color: #0a66c2;
  border: 2px solid #0a66c2;
  color: white;
}
.fa-instagram {
  background-color: #d00156;
  border: 2px solid #d00156;
  color: white;
}
.fa-google {
  background-color: #f04c3d;
  border: 2px solid #f04c3d;
  color: white;
}
.fa-github {
  background-color: black;
  color: white;
  border: 2px solid black;
}
.fa-twitter:hover {
  color: #5da9dd;
  background-color: #f2f2f2;
  border: 2px solid #5da9dd;
}
.fa-linkedin-in:hover {
  color: #0a66c2;
  background-color: #f2f2f2;
  border: 2px solid #0a66c2;
}
.fa-instagram:hover {
  color: #d00156;
  background-color: #f2f2f2;
  border: 2px solid #d00156;
}
.fa-google:hover {
  color: #f04c3d;
  background-color: #f2f2f2;
  border: 2px solid #f04c3d;
}
.fa-github:hover {
  color: black;
  background-color: #f2f2f2;
  border: 2px solid black;
}
.contactImage img {
  width: 34vw;
}

/* CSS for footer */

footer p {
	
  font-size: 12px;
  text-align: center;
  font-weight: 700;
  color: #b9beff;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4vh;
  background-color: #0b144b;
}
